<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>URL shortener app</title>
   
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
      
	  
  
</head>
<body>
  <h2>Create your short link</h2><hr>
  <nav> 
   <a href='/'>Home</a>
   <a href='/history'>History</a>
   </nav>
  {% block body %}
  {% endblock %}
</body>
</html>